<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>

      <!-- Your ID on Tenhou.net, or "NoName" which represents anonymous user -->
      <add key="TenhouID" value="NoName" />

      <!-- Lobby number, or "0" which represents public lobby -->
      <add key="Lobby" value="0" />

      <!-- Available options: "Normal", "High", "VeryHigh" or "Phoenix" -->
      <add key="GameType_Level" value="Normal" />

      <!-- Available options: "Normal"(with red tiles) or "Fast"(with red tiles) (Other modes such as "No red tiles" are not supported yet.) -->
      <add key="GameType_Mode" value="Normal" />

      <!-- Available options: "East" or "EastSouth" -->
      <add key="GameType_Match" value="EastSouth" />

      <!-- The number of matches it will play, or "INF" to make it play forever -->
      <!-- PS: You can input "q" and ENTER at any time while the program is running, then it will stop after the current match is over. -->
      <add key="Repeat" value="INF" /> 
      
    </appSettings>
</configuration>