<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MahjongAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!-- 
        Platform. "Tenhou" or "Majsoul".
        
        NOTE: If you choose "Majsoul", you must join a private room by setting
        a value for "PrivateRoom" below.
        We no longer support Majsoul public lobby starting from 0.6.64.w due to
        abuse of this project.
      -->
    <add key="Platform" value="Tenhou" />

    <!--
        Your Tenhou ID, in the form of "IDXXXXXXXX-XXXXXXXX", or "NoName" for
        playing as an anonymous user.
      -->
    <add key="TenhouID" value="NoName" />

    <!--
        The version and the route you would like to use.
        - "cn_international_1": Chinese international version (route #1)
        - "cn_international_2": Chinese international version (route #2)
        - "cn_international_3": Chinese international version (route #3)
        - "cn_international_4": Chinese international version (route #4)
        - "cn_international_5": Chinese international version (route #5)
        
        Japanese and English versions are NOT supported.
      -->
    <add key="MajsoulRegion" value="cn_international_2" />

    <!--
        Your Majsoul username. Third-party login is NOT supported.
      -->
    <add key="MajsoulUsername" value="your-username" />

    <!--
        Your Majsoul password.
      -->
    <add key="MajsoulPassword" value="your-password" />

    <!-- Private room number, or "0" which represents the public lobby. -->
    <add key="PrivateRoom" value="0" />

    <!--
        The level of the game.
        
        Available options are:
        - "Normal": 一般
        - "High": 上級
        - "VeryHigh": 特上
        - "Phoenix": 鳳凰
      -->
    <add key="GameType_Level" value="Normal" />

    <!--
        The game mode. Available options:
        - "Normal": 喰アリ赤
        - "Fast": 喰アリ赤速
      -->
    <add key="GameType_Mode" value="Normal" />

    <!--
        The match type. Available options:
        - "East": 東風戦
        - "EastSouth": 東南戦
      -->
    <add key="GameType_Match" value="East" />

    <!--
        The number of matches to play, or "INF" to make it play forever.
        Note: You can type "q" and ENTER at any time while the program is
        running. Then it will stop after the current match is over.
      -->
    <add key="Repeat" value="1" />

    <!--
        Defense strategy. Available options:
        - "3": (most nonaggressive, recommended) A comprehensive defense
          strategy.
        - "2": May defend when at least one player has called riichi.
        - "1": May defend when the dealer (oya) has called riichi.
        - "0": (most aggressive) No defense.
      -->
    <add key="Strategy_DefenceLevel" value="3" />

  </appSettings>
  <applicationSettings>
    <MahjongAI.Properties.Settings>
      <setting name="DeviceUUID" serializeAs="String">
        <value />
      </setting>
    </MahjongAI.Properties.Settings>
  </applicationSettings>
</configuration>